html, body {
}
canvas {
  display: block;
}

.main{
  background-color: #4B6587;
}

.top {
  padding: 5%;
  text-align: center;
}

.top-header {
  padding: 3%;
  color: #F7F6F2;
  font-size: 3.5rem;
}

.my-pic {
  object-fit: cover;
  width:230px;
  height:230px;
  border-radius: 50%;
}

.my-name{
  color: #FF7777;
  font-size: 5rem;
  font-family: 'Splash', sans-serif;
}

.about-me {
  margin: 0 auto;
  padding: 2%;
  background-color: #fff;
  width:340px;
  height:230px;
  border: .5rem solid #000;
  border-radius: 25px;
}

.game-img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.itchio {
  width: 20%;
}

.game-page {
  background-color: #4B6587;
}

.back-btn {
  padding: 3%;
  width: 10%;
}
